.highlight {-webkit-box-shadow:1px 1px 1px #999;background:#ed9;padding:2px 4px;-webkit-border-radius:2px;}
.cur-highlight {-webkit-box-shadow:3px 3px 3px #999;background:yellow;padding:2px 4px;-webkit-border-radius:6px;color:#000}
